Repository Telmate/terraform-provider-proxmox, pull requests merged in 2024-12, with the labels that each got.

#1187 docs: update API key support information in index.md
  docs/index.md
Labels: type/documentation, modifies/docs, size/S

#1197 feat: add `context`
  go.mod
  go.sum
  proxmox/data_ha_group.go
  proxmox/provider.go
  proxmox/resource_cloud_init_disk.go
  proxmox/resource_lxc.go
  proxmox/resource_lxc_disk.go
  proxmox/resource_pool.go
  proxmox/resource_storage_iso.go
  proxmox/resource_vm_qemu.go
Labels: type/enhancement, modifies/dependencies, modifies/go, size/L, resource/qemu, resource/lxc, resource/pool

#1215 fix: refrenced wrong disk type
  proxmox/Internal/resource/guest/qemu/disk/terraform_disks.go
Labels: type/bug, modifies/go, size/XS, resource/qemu

#1217 feat: validate node name
  go.mod
  go.sum
  proxmox/Internal/resource/guest/node/schema.go
  proxmox/provider.go
  proxmox/resource_lxc.go
  proxmox/resource_vm_qemu.go
Labels: modifies/go, size/L, resource/qemu, resource/lxc

#1218 Refactor: Rename imports
  proxmox/Internal/pve/dns/nameservers/nameservers.go
  proxmox/Internal/pve/guest/sshkeys/sshkeys.go
  proxmox/Internal/pve/guest/tags/tags.go
  proxmox/Internal/pve/guest/tags/tags_test.go
  proxmox/Internal/pxapi/guest/tags/tags_test.go
  proxmox/heper_qemu.go
  proxmox/heper_qemu_test.go
  proxmox/provider.go
  proxmox/resource_lxc.go
  proxmox/resource_lxc_disk.go
  proxmox/resource_pool.go
  proxmox/resource_vm_qemu.go
  proxmox/util.go
Labels: modifies/go, size/XL, type/refactoring, resource/qemu, resource/lxc, resource/pool, resource/cloud-init
