Repository Telmate/terraform-provider-proxmox, pull requests merged in 2025-03, with the labels that each got.

#1263 Feat tpmstate efi secureboot
  proxmox/Internal/resource/guest/qemu/tpm/schema.go
  proxmox/Internal/resource/guest/qemu/tpm/sdk.go
  proxmox/Internal/resource/guest/qemu/tpm/terraform.go
  proxmox/resource_vm_qemu.go
Labels: modifies/go, size/M, type/feature, resource/qemu, test/needen

#1265 Fix: multiple target nodes
  docs/resources/lxc.md
  docs/resources/vm_qemu.md
  go.mod
  go.sum
  proxmox/Internal/resource/guest/node/schema.go
  proxmox/Internal/resource/guest/node/sdk.go
  proxmox/Internal/resource/guest/node/terraform.go
  proxmox/resource_lxc.go
  proxmox/resource_vm_qemu.go
  proxmox/util.go
Labels: type/bug, modifies/go, size/L, resource/qemu, resource/lxc, test/done

#1247 docs: fix bad env var name for secret
  docs/index.md
Labels: modifies/docs

#1267 feat: add PCI `mdev` property
  docs/resources/vm_qemu.md
  proxmox/Internal/resource/guest/qemu/pci/schema.go
  proxmox/Internal/resource/guest/qemu/pci/sdk.go
  proxmox/Internal/resource/guest/qemu/pci/terraform.go
Labels: type/enhancement, modifies/docs, modifies/go, size/M, resource/qemu

#1276 fix: agent_timeout never set
  docs/resources/vm_qemu.md
  go.mod
  go.sum
  proxmox/resource_vm_qemu.go
Labels: type/bug, modifies/docs, modifies/go, size/L, type/refactoring, resource/qemu
