Repository Telmate/terraform-provider-proxmox, pull requests merged in 2025-09, with the labels that each got.

#1398 Fix: Clone uses wrong node when identical templates exist on multiple Proxmox nodes
  go.mod
  go.sum
  proxmox/Internal/resource/guest/node/sdk.go
  proxmox/helper_guest.go
  proxmox/helper_guest_test.go
  proxmox/resource_cloud_init_disk.go
  proxmox/resource_lxc.go
  proxmox/resource_lxc_disk.go
  proxmox/resource_pool.go
  proxmox/resource_storage_iso.go
  proxmox/resource_vm_qemu.go
Labels: type/bug, modifies/go, size/L, resource/qemu, resource/lxc, test/done

#1404 Feat: Lxc features
  proxmox/Internal/resource/guest/lxc/_sub/acl/schema.go
  proxmox/Internal/resource/guest/lxc/features/schema.go
  proxmox/Internal/resource/guest/lxc/features/sdk.go
  proxmox/Internal/resource/guest/lxc/features/terraform.go
  proxmox/Internal/resource/guest/lxc/mounts/sdk_mount.go
  proxmox/Internal/resource/guest/lxc/mounts/terraform_mount.go
  proxmox/resource_lxc_new.go
Labels: type/enhancement, modifies/go, size/L, type/feature, resource/lxc, test/done

#1392 Update cloud-init getting started docs
  docs/guides/cloud-init getting started.md
Labels: type/documentation, size/XS

#1386 feat: can't set `vmid` to 0
  docs/resources/vm_qemu.md
  proxmox/Internal/resource/guest/vmid/schema.go
Labels: type/bug, modifies/go, size/XS, resource/qemu, resource/lxc, test/done

#1387 Update Proxmox 9 privileges in documentation
  docs/index.md
Labels: type/documentation, size/XS

#1410 Fix: Terraform destroy fails if VM is in HA.
  go.mod
  go.sum
  proxmox/helper_guest.go
Labels: type/enhancement, modifies/go, size/S, resource/qemu, resource/lxc, test/done
