Repository Telmate/terraform-provider-proxmox, pull requests merged in 2025-04, with the labels that each got.

#1281 fix: 3.0.1-rc7 unable to set sshkeys with EOF
  proxmox/Internal/resource/guest/sshkeys/schema.go
Labels: modifies/go, size/XS, resource/qemu, resource/lxc

#1227 Start LXC on create/update without error
  proxmox/resource_lxc.go
Labels: type/bug, modifies/go, size/S, resource/lxc

#1282 fix: 3.0.1-rc7 doesnt create the vmid specified on tf
  proxmox/resource_lxc.go
Labels: type/bug, issue/regression, modifies/go, size/XS, resource/qemu, test/done

#1302 fix: MTU = 1 not working
  proxmox/Internal/resource/guest/qemu/network/sdk.go
Labels: type/bug, modifies/go, size/XS, resource/qemu, test/done

#1303 Fix panic when no target nodes specified
  proxmox/Internal/resource/guest/node/schema.go
  proxmox/Internal/resource/guest/node/sdk.go
  proxmox/resource_lxc.go
  proxmox/resource_vm_qemu.go
Labels: type/bug, modifies/go, size/M, resource/qemu, test/done
